@charset "utf-8";

/* 重置样式表 */

* {
    margin: 0;
    padding: 0;
}


/* 统一页面文本 */

body {
    font-size: 16px;
    font-family: "微软雅黑";
}


/* 清除列表符号 */

ul,
ol,
li {
    list-style: none;
}


/* 清除下划线 */

u,
a {
    text-decoration: none;
}


/* 清除倾斜 */

i,
em {
    font-style: normal;
}


/* 清除加粗 */

b,
strong {
    font-weight: normal;
}


/* 清除文本默认大小和加粗 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: normal;
}


/* 边框清零 */

img {
    border: none;
}


/* 清除聚焦时候的边框 */

input {
    outline: none;
}
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
}
.container {
    height: 100%;
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
}
.login-wrapper {
    background-color: #fff;
    width: 358px;
    height: 588px;
    border-radius: 15px;
    padding: 0 50px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.header {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}
.input-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(128, 125, 125);
    font-size: 15px;
    outline: none;
}
.input-item::placeholder {
    text-transform: uppercase;
}
.btn {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 40px;
    background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
    color: #fff;
}
.msg {
    text-align: center;
    line-height: 88px;
}
a {
    text-decoration-line: none;
    color: #6999f5;
}